<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <!-- Para Android 13+ (permiso moderno) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Para Android 12 e inferiores -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:label="@string/app_name">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".auth.LoginActivity"/>
        <activity android:name=".auth.RegistroActivity"/>

        <!-- Common -->
        <activity android:name=".view.common.PoliticaPrivacidadActivity"/>
        <activity android:name=".view.common.PerfilActivity"/>

        <!-- Admin -->
        <activity android:name=".view.admin.MenuAdminActivity"/>
        <activity android:name=".view.admin.citas.CitasAdminActivity"/>
        <activity android:name=".view.admin.citas.CitasDiaActivity"/>
        <activity android:name=".view.admin.citas.CitasPendientesActivity"/>
        <activity android:name=".view.admin.citas.FormularioCitaManualActivity"/>
        <activity android:name=".view.admin.ListaClientesActivity"/>
        <activity android:name=".view.admin.material.ListaMaterialesActivity"/>
        <activity android:name=".view.admin.material.FormularioMaterialActivity"/>
        <activity android:name=".view.admin.toDoList.ListaTareasActivity"/>
        <activity android:name=".view.admin.toDoList.FormularioTareaActivity"/>
        <activity android:name=".view.admin.SeccionNoviasActivity"/>

        <!-- Client -->
        <activity android:name=".view.client.MenuClienteActivity"/>
        <activity android:name=".view.client.MisCitasActivity"/>
        <activity android:name=".view.client.SolicitarCitaActivity"/>
        <activity android:name=".view.client.ServiciosNoviaActivity"/>
    </application>

</manifest>